header {
	background-color: white;
	height: 50px;
	width: 100%;

}

#left {
	background-color: white;
	height: 50px;
	width: 10%;
	float: left;
	margin: auto;
	padding: 10px 0;
}

#name {
	background-color: #4aaaa5;
	color: white;
	float: left;
	height: 50px;
	text-align: center;
	width: 30%;
	padding: 10px 0;
	margin: auto;
	font-family: 'Georgia', Times, 'Times New Roman', serif; 
	font-size: 24px;
}

.name {
	position: absolute;
	background-color: transparent;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 24px;
	width: 30%;
	margin: auto;
	color: white;
	padding: 10px 0;
}

#menu {
	background-color: white;
	color: lightgrey;
	float: left;
	height: 50px;
	text-align: center;
	width: 60%;
	padding: 10px 0;
	margin: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.menu {
	position: absolute;
	background-color: transparent;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	width: 60%;
	margin: auto;
	color: darkgrey;
	padding: 5px 5px 5px 125px;
}

a {
	color: darkgrey;
}

hr {
	display: block;
  	position: relative;
   	padding: 0;
   	margin: 8px auto;
   	height: 0;
   	width: 100%;
   	max-height: 0;
   	font-size: 1px;
   	line-height: 0;
   	clear: both;
   	border: none;
   	border-top: 1px solid #cccccc;
   	border-bottom: 1px solid #cccccc;
}
body {
	background-image: url("../images/greybackground.png");
	background-repeat: repeat;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	width: auto;
	overflow-x: hidden;
}

#main {
	width: 960px;
	align-content: center;
}

img {
	float: left;
	margin: 0 10px 0 0;
	
}

#content {
	position: absolute;
	width: 650px;
	height: auto;
	background-color: white;
	padding: 20px;
	margin: 20px;
	border-width: 2px;
	border-color: #dddddd
	z-index: 50;

}

h1 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	text-align: left;

}

#sidebar {
	float: right;
	width: 270px;
	height: auto;
	background-color: white;
	padding: 20px 20px 20px 20px;
	margin: 20px;
	border-width: 2px;
	border-color: #dddddd;
	text-align: center;
}

footer {
	background-color: #666666;
	color: lightgrey;
	height: 50px;
	text-align: center;
	border-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 5px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 200;

}

.portfolio {
	position: relative;
}


.text {
	position: absolute;
	z-index: 100;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 200px;
	display: block;
	float: left;
	text-align: center;
	margin-top: 165px;
	font-size: 24px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
	width: 125px;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	font-size: 16px;
}

input[name=Message] {
	height: 100px;
}
